* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    background:
        linear-gradient(rgba(0, 0, 0, 0.80),
            rgba(0, 0, 0, 0.433)),
        url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=2070&auto=format&fit=crop');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;

    color: white;
}

/* HEADER */

header {

    width: 100%;

    padding: 18px 8%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: rgba(0, 0, 0, 0.72);

    border-bottom: 2px solid #ff0000;

    position: sticky;

    top: 0;

    z-index: 1000;

    backdrop-filter: blur(12px);
}

.logo {

    display: flex;

    align-items: center;

    gap: 15px;
}

.logo img {

    width: 90px;

    height: 90px;

    object-fit: contain;

    border-radius: 50%;

    background: white;

    padding: 5px;

}

.logo-text h1 {

    font-size: 28px;

    font-weight: 800;

    letter-spacing: 1px;
}

.logo-text span {
    color: #ff0000;
}

/* HERO */

.hero {

    padding: 70px 8%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 60px;

    flex-wrap: wrap;
}

.hero-text {

    flex: 1;

    min-width: 320px;
}

.hero-text h2 {

    font-size: 64px;

    line-height: 1.1;

    font-weight: 800;

    margin-bottom: 25px;
}

.hero-text h2 span {
    color: #ff0000;
}

.hero-text p {

    font-size: 18px;

    color: #d1d5db;

    margin-bottom: 35px;

    max-width: 650px;

    line-height: 1.8;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-red {

    background: linear-gradient(90deg, #ff0000, #b30000);

    color: white;

    padding: 16px 30px;

    border-radius: 14px;

    text-decoration: none;

    font-weight: 700;

}

.btn-red:hover {

    transform: translateY(-4px);

    box-shadow:
        0 0 30px rgba(255, 0, 0, 0.35),
        0 15px 35px rgba(255, 0, 0, 0.25);
}

/* IMAGEM PRINCIPAL */

.hero-image {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;
}

.hero-image img {

    width: 100%;

    max-width: 520px;

    border-radius: 40px;

    background: rgba(255, 255, 255, 0.06);

    padding: 20px;

    border: 2px solid rgba(255, 0, 0, 0.4);

}

.hero-image img:hover {

    transform: scale(1.03);

    border-color: #ff0000;
}

/* SIMULADOR */

.simulador {

    width: 100%;

    padding: 30px 8% 90px;
}

.container {

    background: rgba(10, 10, 10, 0.92);

    border-radius: 35px;

    padding: 50px;

    border: 1px solid rgba(255, 0, 0, 0.2);

    box-shadow:
        0 0 40px rgba(0, 0, 0, 0.6),
        0 0 25px rgba(255, 0, 0, 0.08);

    backdrop-filter: blur(14px);
}

.container-title {

    text-align: center;

    margin-bottom: 45px;
}

.container-title h2 {

    font-size: 46px;

    margin-bottom: 12px;

    font-weight: 800;
}

.container-title span {
    color: #ff0000;
}

.container-title p {

    color: #d1d5db;

    font-size: 16px;
}

.grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 25px;
}

.input-box {

    display: flex;

    flex-direction: column;
}

.input-box label {

    margin-bottom: 10px;

    font-weight: 600;

    color: white;
}

/* INPUTS MAIS CLAROS */

.input-box select,
.input-box input {

    padding: 16px;

    border-radius: 14px;

    border: 1px solid rgba(255, 255, 255, 0.15);

    background: rgba(255, 255, 255, 0.08);

    color: rgb(255, 101, 101);

    font-size: 15px;

    transition: 0.3s ease;

    backdrop-filter: blur(8px);
}

.input-box select:focus,
.input-box input:focus {

    border: 1px solid #ff4d4d;

    background: rgba(255, 255, 255, 0.12);

    box-shadow:
        0 0 20px rgba(255, 0, 0, 0.25);

    outline: none;

    transform: scale(1.01);
}

option {

    background: #ffffff;

    color: #111111;

    font-weight: 500;
}

.full {
    grid-column: span 2;
}

/* BOTÃO */

.btn {

    width: 100%;

    margin-top: 35px;

    padding: 19px;

    border: none;

    border-radius: 18px;

    background: linear-gradient(90deg, #ff0000, #b30000);

    color: white;

    font-size: 18px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.3s ease;

    box-shadow:
        0 10px 25px rgba(255, 0, 0, 0.18);
}

.btn:hover {

    transform: translateY(-4px);

    box-shadow:
        0 0 35px rgba(255, 0, 0, 0.3),
        0 15px 40px rgba(255, 0, 0, 0.18);
}

/* RESULTADO */

.resultado {

    margin-top: 45px;

    background: linear-gradient(145deg, #111111, #0b0b0b);

    border-radius: 30px;

    padding: 35px;

    display: none;

    border: 1px solid rgba(255, 0, 0, 0.18);

    animation: aparecer 0.4s ease;

    box-shadow:
        0 0 35px rgba(255, 0, 0, 0.08);
}

/* ANIMAÇÃO DE APARECER */

@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.resultado h2 {

    margin-bottom: 30px;

    color: #ff0000;

    font-size: 32px;
}

.resultado-grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 22px;
}

/* CARDS RESULTADO */

.card-result {

    background: linear-gradient(145deg, #1b1b1b, #101010);

    border-radius: 22px;

    padding: 24px;

    border: 1.5px solid rgba(255, 0, 0, 0.35);

    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.08),
        0 10px 30px rgba(0, 0, 0, 0.5);

    transition: 0.3s ease;
}

.card-result:hover {

    transform: translateY(-5px);

    border-color: #ff0000;

    box-shadow:
        0 0 25px rgba(255, 0, 0, 0.2),
        0 15px 35px rgba(0, 0, 0, 0.6);
}

.card-result h3 {

    font-size: 14px;

    color: #d1d5db;

    margin-bottom: 10px;

    text-transform: uppercase;

    letter-spacing: 1px;
}

.card-result p {

    font-size: 22px;

    font-weight: 700;

    color: white;
}

footer {

    padding: 30px;

    text-align: center;

    background: rgba(0, 0, 0, 0.9);

    color: #9ca3af;

    border-top: 1px solid rgba(255, 0, 0, 0.15);
}